// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//ANT
@import '~antd/dist/antd.css';

.login-form {
  max-width: 100%;
  height: 100%;
}

.ant-input-affix-wrapper .ant-input {
  min-height: 20px !important;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout {
  height: 100%;
}